@page
@model HABManagement.Pages.FoodDB.CreateModel

@{
    ViewData["Title"] = "新規作成";
}
@{
    string yr = DateTime.Today.Year.ToString();
    string mn = DateTime.Today.Month.ToString();
    string dt = DateTime.Today.Day.ToString();
    if (Int32.Parse(mn) < 10)
    {
        mn = "0" + mn;
    }
    if (Int32.Parse(dt) < 10)
    {
        dt = "0" + dt;
    }
    string datenow = string.Format("{0}-{1}-{2}", yr, mn, dt);
}

<body style="background:#AFEEEE;">
</body>

<h1>新規作成</h1>

<h4>冷蔵庫</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Food.Name" class="control-label">名前</label>
                <input asp-for="Food.Name" class="form-control" />
                <span asp-validation-for="Food.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Food.Num" class="control-label">個数</label>
                <input asp-for="Food.Num" class="form-control" value="1"/>
                <span asp-validation-for="Food.Num" class="text-danger"></span>
            </div>
            <div class="form-group">    
                <label asp-for="Food.Date" class="control-label">日付</label>
                <input asp-for="Food.Date" class="form-control" value="@datenow" />
                <span asp-validation-for="Food.Date" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Food.ExpiryDate" class="control-label">有効期限</label>
                <input asp-for="Food.ExpiryDate" class="form-control" />
                <span asp-validation-for="Food.ExpiryDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Food.Memo" class="control-label">メモ</label>
                <input asp-for="Food.Memo" class="form-control" />
                <span asp-validation-for="Food.Memo" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <input type="submit" value="作成" class="btn btn-light" style="color:#4169e1" />
            </div>
        </form>
    </div>
</div>
<br />
<div>
    <a asp-page="Index">冷蔵庫管理に戻る</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
