@page
@model HABManagement.Pages.KakeiDB.Create2Model

@{
    ViewData["Title"] = "Create2";
}

<h1>収入</h1>

<h4>家計簿</h4>
<form action="Create">
    <div class="form-group">
        <input type="submit" value="支出画面へ" class="btn btn-primary" />
    </div>
</form>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Kakei.Date" class="control-label">日付</label>
                <input asp-for="Kakei.Date" class="form-control" />
                <span asp-validation-for="Kakei.Date" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Kakei.Price" class="control-label">価格</label>
                <input asp-for="Kakei.Price" class="form-control" />
                <span asp-validation-for="Kakei.Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Kakei.Category" class="control-label">収入カテゴリー</label>
            </div>
            <select asp-for="Kakei.Category" class="form-group">
                <option value="null">--Please choose an option--</option>
                <option value="給料">給料</option>
                <option value="おこづかい">おこづかい</option>
                <option value="賞与">賞与</option>
                <option value="副業">副業</option>
                <option value="臨時収入">臨時収入</option>
                <span asp-validation-for="Kakei.Category" class="text-danger"></span>
            </select>
            <div class="form-group">
                <label asp-for="Kakei.Memo" class="control-label">メモ</label>
                <input asp-for="Kakei.Memo" class="form-control" />
                <span asp-validation-for="Kakei.Memo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="新規作成" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">家計簿に戻る</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
