@page
@model HABManagement.Pages.KakeiDB.CreateModel

@{
    ViewData["Title"] = "新規作成(支出)";
}
@{
    string yr = DateTime.Today.Year.ToString();
    string mn = DateTime.Today.Month.ToString();
    string dt = DateTime.Today.Day.ToString();
    if ( Int32.Parse(mn) < 10)
    {
        mn = "0" + mn;
    }
    if( Int32.Parse(dt) < 10)
    {
        dt = "0" + dt;
    }
    string datenow = string.Format("{0}-{1}-{2}", yr, mn, dt);
}

<body style="background:#FEDCBD;">
</body>

<h1>新規作成</h1>

<h4>家計簿</h4>
<hr />
<a class="btn btn-outline-light" asp-page="Create2">
    <font face="ＭＳ Ｐゴシック,ＭＳ ゴシック" color="#c49a6a">収入</font>
</a>
<a class=" btn text-white" style="background-color:#fafafa">
    <font face="ＭＳ Ｐゴシック,ＭＳ ゴシック" color="#c49a6a">支出</font>
</a>
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Kakei.Date" class="control-label">日付</label>
                <input asp-for="Kakei.Date" class="form-control"value="@datenow" />
                <span asp-validation-for="Kakei.Date" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Kakei.Price" class="control-label">価格</label>
                <input asp-for="Kakei.Price" class="form-control" />
                <span asp-validation-for="Kakei.Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Kakei.Category" class="control-label">支出カテゴリー</label>
            </div>
            <select asp-for="Kakei.Category" class="form-group">
                <option value="null">--Please choose an option--</option>
                <option value="食費">食費</option>
                <option value="日用品">日用品</option>
                <option value="衣服">衣服</option>
                <option value="美容">美容</option>
                <option value="交際費">交際費</option>
                <option value="医療費">医療費</option>
                <option value="教育費">教育費</option>
                <option value="光熱費">光熱費</option>
                <option value="交通費">交通費</option>
                <option value="通信費">通信費</option>
                <option value="住居費">住居費</option>
                <span asp-validation-for="Kakei.Category" class="text-danger"></span>
            </select>
            <div class="form-group">
                <label asp-for="Kakei.Memo" class="control-label">メモ</label>
                <input asp-for="Kakei.Memo" class="form-control" />
                <span asp-validation-for="Kakei.Memo" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <input type="submit" value="作成" class="btn btn-light" style="color:#c49a6a" />
            </div>
        </form>
    </div>
</div>
<br />
<div>
    <a asp-page="Index">家計簿に戻る</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
