@page
@model HABManagement.Pages.KakeiDB.EditModel

@{
    ViewData["Title"] = "編集";
}

<h1>編集</h1>

<h4>家計簿</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Kakei.ID" />
            <div class="form-group">
                <label asp-for="Kakei.Balance" class="control-label">支出・収入</label>
            </div>
            <select asp-for="Kakei.Balance" class="form-group">
                <option value="">--Please choose an option--</option>
                <option value="支出">支出</option>
                <option value="収入">収入</option>
                <span asp-validation-for="Kakei.Balance" class="text-danger"></span>
            </select>
            <div class="form-group">
                <label asp-for="Kakei.Date" class="control-label">日付</label>
                <input asp-for="Kakei.Date" class="form-control" />
                <span asp-validation-for="Kakei.Date" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Kakei.Price" class="control-label">価格</label>
                <input asp-for="Kakei.Price" class="form-control" />
                <span asp-validation-for="Kakei.Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Kakei.Category" class="control-label">支出カテゴリー</label>
            </div>
            <select asp-for="Kakei.Category" class="form-group">
                <option value="">--Please choose an option--</option>
                <option value="食費">食費</option>
                <option value="日用品">日用品</option>
                <option value="衣服">衣服</option>
                <option value="美容">美容</option>
                <option value="交際費">交際費</option>
                <option value="衣料品">医療品</option>
                <option value="教育費">教育費</option>
                <option value="光熱費">光熱費</option>
                <option value="交通費">交通費</option>
                <option value="通信費">通信費</option>
                <option value="住居費">住居費</option>
                <span asp-validation-for="Kakei.Category" class="text-danger"></span>
            </select>
            <div class="form-group">
                <label asp-for="Kakei.Category2" class="control-label">収入カテゴリー</label>
            </div>
            <select asp-for="Kakei.Category2" class="form-group">
                <option value="">--Please choose an option--</option>
                <option value="給料">給料</option>
                <option value="おこづかい">おこづかい</option>
                <option value="賞与">賞与</option>
                <option value="副業">副業</option>
                <option value="投資">臨時収入</option>
                <span asp-validation-for="Kakei.Category2" class="text-danger"></span>
            </select>
            <div class="form-group">
                <label asp-for="Kakei.Memo" class="control-label">メモ</label>
                <input asp-for="Kakei.Memo" class="form-control" />
                <span asp-validation-for="Kakei.Memo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="保存" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">一覧へ戻る</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
