@page
@model HABManagement.Pages.SListDB.CreateModel

@{
    ViewData["Title"] = "新規作成";
}

<body style="background:#c4e697;">
</body>

<h1>新規作成</h1>

<h4>買物リスト</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="SList.Name" class="control-label">名前</label>
                <input asp-for="SList.Name" class="form-control" />
                <span asp-validation-for="SList.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SList.Memo" class="control-label">メモ</label>
                <input asp-for="SList.Memo" class="form-control" />
                <span asp-validation-for="SList.Memo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SList.Priority" class="control-label">優先度</label>
                <input asp-for="SList.Priority" class="form-control" />
                <span asp-validation-for="SList.Priority" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <input type="submit" value="作成" />
            </div>
        </form>
    </div>
</div>
<br />
<div>
    <a asp-page="Index">買物リストに戻る</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
