@page
@model HABManagement.Pages.SListDB.CreateModel

@{
    ViewData["Title"] = "新規作成";
}
<head>
    <style>
        .stars span {
            display: flex; /* 要素をフレックスボックスにする */
            flex-direction: row-reverse; /* 星を逆順に並べる */
            justify-content: flex-end; /* 逆順なので、左寄せにする */
        }

        .stars input[type='radio'] {
            display: none; /* デフォルトのラジオボタンを非表示にする */
        }

        .stars label {
            color: whitesmoke; /* 未選択の星をグレー色に指定 */
            font-size: 30px; /* 星の大きさを30pxに指定 */
            padding: 0 5px; /* 左右の余白を5pxに指定 */
        }

            .stars label:hover,
            .stars label:hover ~ label,
            .stars input[type='radio']:checked ~ label {
                color: #e697c4; /* 選択された星以降をすべて黄色にする */
            }
    </style>
</head>

<body style="background:#c4e697;">
</body>

<h1>新規作成</h1>

<h4>買物リスト</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="SList.Name" class="control-label">名前</label>
                <input asp-for="SList.Name" class="form-control" />
                <span asp-validation-for="SList.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SList.Memo" class="control-label">メモ</label>
                <input asp-for="SList.Memo" class="form-control" />
                <span asp-validation-for="SList.Memo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SList.Priority" class="control-label">優先度</label>
                <div class="stars">
                    <span>
                        <input id="review01" type="radio" asp-for="SList.Priority" value="5"><label for="review01">♥</label>
                        <input id="review02" type="radio" asp-for="SList.Priority" value="4"><label for="review02">♥</label>
                        <input id="review03" type="radio" asp-for="SList.Priority" value="3"><label for="review03">♥</label>
                        <input id="review04" type="radio" asp-for="SList.Priority" value="2"><label for="review04">♥</label>
                        <input id="review05" type="radio" asp-for="SList.Priority" value="1"><label for="review05">♥</label>
                    </span>
                </div>
            </div>
            <br />
            <div class="form-group">
                <input type="submit" value="作成" />
            </div>
        </form>
    </div>
</div>
<br />
<div>
    <a asp-page="Index">買物リストに戻る</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
