@page
@model HABManagement.Pages.SListDB.DetailsModel

@{
    ViewData["Title"] = "詳細";
}
@{
    int i = 0;
}
<head>
    <style>
        .stars label {
            color: #e697c4;
            font-size: 25px;
            padding: 0 3px;
        }
    </style>
</head>
<body style="background:#c4e697;">
</body>

<h1>詳細</h1>

<div>
    <h4>買物リスト</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            名前
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.SList.Name)
        </dd>
        <dt class="col-sm-2">
            メモ
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.SList.Memo)
        </dd>
        <dt class="col-sm-2">
            優先度
        </dt>
        <dd class="col-sm-10 stars">
            @while (i < Model.SList.Priority)
            {
                <label>♥</label>
                i++;
           }
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.SList?.ID">編集</a> |
    <a asp-page="./Index">買い物リストに戻る</a>
</div>
