@page
@model IndexModel
@{
    ViewData["Title"] = "ハブマネ";
}

<div class="text-center">
    <h1 class="display-4">HABMANAGEMENT</h1>
    <ul class="navbar-nav flex-grow-1">
        
        <li class="nav-item">
        <a class="nav-link text-dark" asp-area="" asp-page="/KakeiDB/Index">家計簿</a>
        </li>
        <li class="nav-item">
        <a class="nav-link text-dark" asp-area="" asp-page="/FoodDB/Index">冷蔵庫管理</a>
        </li>
        <li class="nav-item">
        <a class="nav-link text-dark" asp-area="" asp-page="/SListDB/Index">買い物リスト</a>
        </li>          
        </ul>
</div>
